.container {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 50vh;
    align-content: center;
    justify-content: space-evenly;
    align-items: baseline;
}

.items{
    border: 1px solid black;
    width: 100px;
    height: 100px;
}