*{
    padding: 0;
    margin: 0;
    background: transparent;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(#bf93bfd1, #6111ffcf);
}

.todo-container{
    width: 330px;
    height: 80vh;
    box-shadow: 2px 2px 4px 10px #9860ee;
    padding: 15px;
    border-radius: 12px;
}

h1{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 23px;
}

input{
    width: 70%;
    padding: 5px;
    font-size: 18px;
    border: 1px solid black;
    outline: none;
    box-shadow: none;
}

#add-task{
    padding: 7px 3px;
    margin-left: 3px;
    background: #9a63ec;
    border: 1px solid #9860ee;
    box-shadow: 0px 0px 1px 1px #9860ee;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

#todo-list{
    margin: 12px 0;
    padding-right: 6px;
    height: 60vh;
    overflow-y: auto;
}

.todos{
    list-style-type: none;
    font-size: 20px;
    border-radius: 3px;
    color: #000000;
    border: 1px solid #b68ad9;
    box-shadow: 1px 1px 1px 2px #a776e3;
    padding: 6px 12px;
    margin: 10px 0;
}

.close{
    color: #350077;
    font-size: 18px;
    font-weight: bolder;
    float: right;
    padding: 1px 5px;
    box-shadow: 2px 2px 2px #350077;
    cursor: pointer;
}