*{
    padding: 0;
    margin: 0;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-container{
    border: 2px solid black;
    width: 30vw;
    height: 450px;
    padding: 15px;
}

h1{
    text-align: center;
    font-size: 47px;
    padding: 14px 0;
}

input{
    width: 75%;
    padding: 5px 0;
    font-size: 18px;
}

#addTask{
    padding: 7px 11px;
    background: black;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

#todo-list{
    margin-top: 40px;
    height: 300px;
    overflow-y: scroll;
    padding: 0 6px;
}
.todos{
    list-style-type: none;
    font-size: 20px;
    background: #e9e9e9c4;
    color: #171717;
    padding: 6px 12px;
    margin: 10px 0;
}

.close{
    color: red;
    font-size: 20px;
    font-weight: bolder;
    float: right;
    padding: 1px 6px;
    background: #e4e4e4;
    box-shadow: 1px 1px 2px 1px #b1b1b1;
    cursor: pointer;
}