* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #b284b5, #6702c6ed);
}

.container h1 {
  margin-top: -10vh;
  font-size: 3rem;
  margin-bottom: 24px;
}

#para {
  width: 33vw;
  min-width: 300px;
  padding: 33px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 7px;
  text-align: center;
  box-shadow: 1px 1px 5px 2px #b181b6;
}

button {
  margin-top: 12px;
  padding: 3px 9px;
  font-weight: 600;
  font-size: 18px;
  background: transparent;
  border: 1px solid #b283b6;
  border-radius: 4px;
  box-shadow: 1px 1px 4px 2px #b183b5e0;
  cursor: pointer;
}
